/* LeaderboardMenuHelper.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 100px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

button {
    padding: 15px;
    background-color: darkblue;
    border: none;
    border-radius: 8px;
    color: lightblue;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

.home-button {
    margin-left: auto;
}

.container {
    display: flex;
    flex-grow: 1;
    padding: 20px;
}
