#styledimg {
    background-image: url(https://cms.concept3d.com/map/lib/image-cache/i.php?mapId=1772&image=1772/utdallas_56872232_Medium.jpg&w=900&h=508&r=1);
    background-repeat: no-repeat;
    width: 1440px;
    height: 1024px;
}